.AddForward {
    display: flex;

}
.main {
    margin: auto;
    /*border: 1px solid black;*/
    padding-top: 10%;
    width: 400px;
}
.head {
    text-align: center;
    padding-bottom: 30px;
}

.forward {
    margin-bottom: 50px;

}.forwardField {
    margin-bottom: 5px;
}

.advise {
    color: dimgray;
    font-size: 13px;
}
.txtfld {
    width: 100%;
    margin-bottom: 5px;
}
.active {
    padding-top: 50px;
    padding-bottom: 50px;
}

